*, p, ul, li, h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #111;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background:  #fff;
}

header .slide img {
    width: 100%;
}

header .carousel-control.left, .carousel-control.right {
    background-image: none;
}

header a {
    text-decoration:  none;
    color:  #111;
}

header .abs-top {
    position:  absolute;
    top: 0;
    width:  100%;
}

header .abs-top .top-area {
    background: linear-gradient(to right, rgba(255,255,255,.42), #e4f3ff);
}

header .abs-top .top-info a i {
    font-size: 16px;
    margin-right:  7px;
}

header .abs-top .top-info a {
    margin-right: 20px;
    text-decoration: none;
}

header .abs-top .top-search {
    text-align:  right;
}

header .top-info {
    padding: 10px 0;
}

header .abs-top input.ipt-search {
    padding: 10px 16px;
    min-width: 250px;
    font-size: 16px;
    border: none;
    background:  no-repeat;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    font-style:  italic;
}

header .abs-top .top-search a img {
    width: 16px;
}

header .abs-top a.btn-search {
    position:  absolute;
    right: 17px;
    text-align:  center;
    padding: 10px;
}

header .menu-area .main-menu {
    display: table;
    margin: 0px auto;
}

header .menu-area {
    background:  #fff;
    padding:  20px 0;
    position:  relative;
}

header .menu-area .main-menu li {
    display:  inline-block;
    padding: 10px 15px;
    float:  left;
    margin-top: 5px;
}

header .menu-area .logo-top {
    display: inline-block;
    position:  absolute;
    top: -30px;
}

.container {
    position:  relative;
}

header .menu-area .main-menu a {
    text-transform:  uppercase;
    text-decoration:  none;
}

header .menu-area .main-menu li.li-active {
    border: 1px solid #da0e00;
}

header .menu-area .main-menu li.li-active a {
    color: #da0e00;
}

header .menu-area .main-menu li.li-active:after {
    content: '';
    position: absolute;
    left: 70px;
    top: 55px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #da0e00;
    clear: both;
}

ol.carousel-indicators {
    display:  none;
}

header .info-area {
    position:  absolute;
    top: 50%;
    left: 0;
    right:  0;
    text-align:  center;
}

header .info-area h2 {
    font-size: 46px;
    text-transform:  uppercase;
    color: #ff1000;
    font-weight: 700;
    text-shadow: -2px 4px 4px #fff;
    font-family: 'Catamaran', sans-serif;
}

header .info-area p {
    font-size: 24px;
    text-transform:  uppercase;
    font-weight:  500;
    color: #ffffff;
    text-shadow: 0px 1px 4px #2f2f2f;
}

header .intro-area {
    /* position:  absolute; */
    /* bottom: 0; */
    background: #2f2f2f;
    padding:  15px 0;
    width:  100%;
    font-size: 13px;
}

header {
    position:  relative;
}

header .intro-area p {
    color: #cccccc;
}

.triangle {
    display: inline-block;
    vertical-align: middle;
}

.prev-left, .prev-right{
    position:  absolute;
    display: inline-block;
    /*top: 55%;*/
    border-radius: 50px;
    border: 1px solid #FF6000;
    width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 25px;
    text-align: center;
    background: #FF6000;
}

header .slider-area .prev-right{
    top: 55%;
    right: 5%;
}

header .slider-area .prev-left{
    top: 55%;
    left: 5%;
}

header .abs-top input.ipt-search:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.triangle-2 {
    border-right: solid 5px #fff;
    border-bottom: solid 5px transparent;
    border-top: solid 5px transparent;
}

.triangle-3 {
    border-left: solid 5px #fff;
    border-bottom: solid 5px transparent;
    border-top: solid 5px transparent;
}

.about-img img {
    width:  100%;
    height:  100%;
}

.about-img {
    display: flex;
    justify-content:  center;
}

.content .about-us-area {
    position:  relative;
    margin: 40px 0 20px 0;
}

.content .about-us-area h2 {
    position:  relative;
    display:  inline-block;
    text-transform:  uppercase;
    font-size: 21px;
    font-weight:  500;
    padding-bottom: 20px;
}

.content .about-us-area h2:after {
    content: "";
    width: 60px;
    height:  10px;
    position:  absolute;
    bottom: -10px;
    border-top: 2px solid #DA0E00;
}

.content .about-us-area > p {
    padding:  20px 0;
    line-height: 24px;
    font-size:  14px;
}

.content .load-more {
    display:  inline-block;
    position:  relative;
    margin: 15px 0;
}

.content .load-more a {
    text-transform: lowercase;
    text-decoration:  none;
    color:  #fff;
    display: inline-block;
    background: #FF6000;
    border-radius: 5px;
    padding: 5px 20px;
}

.content .load-more a i {
    margin-right:  5px;
    font-size: 14px;
}

.content  .about-us-area .about-content {
    margin:   20px 0;
}

.content  .about-us-area .about-content > p:nth-child(2) {
    margin: 10px 0;
}

.service-area .header-service {
    text-align:  center;
    position:  relative;
}

.service-area .header-service img {
    width:  100%;
    height:  100%;
}

.service-area .header-service h2 {
    text-transform:  uppercase;
    font-size: 24px;
    margin-bottom: 15px;
}

.content .service-area .header-service p {
    margin-bottom: 40px;
}

.content .service-area .header-service p:after {
    content: "";
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: -20px;
    border-top: 2px solid #DA0E00;
    left: 47%;
}

.content .service-area {
    position: relative;
    margin-bottom: 20px;
}

.content .service-area .owl-nav {
    display:  none;
}

.content .service-area .owl-theme .owl-dots .owl-dot span {
    width:  20px;
    height:  20px;
    background:  #D1D1D1;
}

.content .service-area .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #DA0E00;
}

.content .item .detail-item-more {
    position:  absolute;
    bottom:  0;
    background:  rgba(255, 15, 15, 0.72);
    padding: 15px 15px 10px 15px;
    transition: 0.5s;
    opacity:  0;
    visibility:  hidden;
}

.content .item .detail-item {
    background: rgba(5, 0, 0, 0.42);
    position:  absolute;
    display:  inline-block;
    bottom:  0;
    width:  100%;
    padding: 15px;
}

.content .item .detail-item h4 {
    color: #fff;
    text-transform:  uppercase;
    font-size: 12px;
}

.content .item:hover .detail-item {
    display:  none;
}

.content .item:hover .detail-item-more {
    line-height: 20px;
    opacity: 1;
    visibility:  visible;
}

.content .item .detail-item-more h4 {
    text-transform:  uppercase;
    font-size: 14px;
    color:  #fff;
}

.content .item .detail-item-more p {
    font-size: 13px;
    color:  #fff;
    margin:  10px 0;
}

.content .item .detail-item-more a {
    text-decoration:  none;
    color:  #fff;
    text-transform:  lowercase;
}

.content .item .detail-item-more a i {
    margin-right:  5px;
}

.content .owl-dots {
    margin-top:  10px;
}

.content .item .detail-item-more a:hover {
    color: #000;
}

.content .hot-area img {
    width:  100%;
    height:  170px;
    max-height:  170px;
}

.content .hot-area .list-proj {
    display:  inline-block;
    margin: 0 -15px;
}

.content .hot-area {
    /* background-color: #FFEFE5; */
    background-image: url(../img/hot-bg1.png);
    background-repeat:  no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;
    position:  relative;
}

.content .hot-area .intro-hot {
    /* background-image: url(img/hot-bg.png); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* background-position-y: bottom; */
    position:  relative;
}

.content .hot-area h2 {
    text-transform:  uppercase;
    font-size: 24px;
    position:  relative;
    margin-bottom:  30px;
}

.content .hot-area h2:after {
    content: "";
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left:  0;
    border-top: 2px solid #DA0E00;
}

.content .hot-area .intro-content p {
    font-size: 12px;
    font-weight: 500;
    line-height:  20px;
}

.content .hot-area .load-more {
    margin-top:  20px;
}

.content .hot-area .hot-proj p {
    margin-top: 5px;
    font-size: 12px;
}

.content .hot-area .hot-proj {
    padding: 0 15px;
    margin-bottom:  15px;
    float:  left;
    width:  33.333333%;
}

.content .hot-area .hot-proj p.proj-name {
    font-size: 15px;
    font-weight:  500;
}

.content .other-area a.prev-left {
    left: 40%;
    bottom: -25%;
}

.content .other-area .cus-slide {
    text-align:  center;
    position:  relative;
}

.content .other-area .customer {
    position: relative;
    margin:  20px 0 40px 0;
}

.content .other-area a.prev-right {
    right: 42%;
    bottom: -25%;
}

.content .other-area {
    margin-top: 40px;
}

.other-area img {
    width:  100%;
    height:  100%;
}

.other-area h2:after {
    content: "";
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: 0;
    border-top: 2px solid #DA0E00;
}

.other-area .new-info {
    position: relative;
}

.other-area h2 {
    position:  relative;
    margin-bottom: 30px;
    text-transform:  uppercase;
    font-size: 20px;
}

.other-area p.new-title {
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}

.other-area p.new-date {
    margin-top: 7px;
    opacity: .5;
}

.other-area p {
    font-size: 14px;
}

.other-info {
    border-bottom:  1px solid #ededed;
    padding: 6px 0;
}

.other-area .other-info p.new-title {
    margin:  0;
}

.other-area .load-more {
    margin-top: 15px;
    display: inline-block;
}

a.prev-left.a-active {
    border: 1px solid rgb(200,30,50);
    background:  rgb(200,30,50);
}

footer {
    background-image: url(../img/footer-bg2.png);
    background-size:  100% 100%;
    display:  inline-block;
    width:  100%;
}

footer .bot-footer {
    text-align:  center;
    margin-bottom: 10px;
}

footer .bot-footer p {
    color:  #FAA6A0;
}

footer .info-left h2 {
    text-transform:  uppercase;
    color:  #fff;
    font-size: 21px;
    margin-bottom:  20px;
}

footer .top-footer {
    padding: 40px 0 10px 0;
}

.content {
    margin-bottom:  20px;
}

footer .info-detail p {
    color:  #FAA6A0;
    line-height: 27px;
}

footer .info-detail p span i {
    margin-right: 7px;
    width: 20px;
    height:  10px;
    text-align:  center;
    font-size: 14px;
}

footer .info-detail p span i.fa.fa-fax {
    font-size:  12px;
}

footer .info-right {
    display: inline-block;
}

footer .info-right li {
    display: inline-block;
    width: 150px;
    height: 40px;
}

footer .info-right li a {
    color:  #FAA6A0;
    text-transform:  uppercase;
    text-decoration: none;
    /* font-size: 15px; */
}

footer .info-right .li-active a {
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
    color:  #fff;
    /* font-size: 13px; */
}

footer .info-right li:hover a {
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
    color: #fff;
}

footer .contact-info a i {
    background: #FAA6A0;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #982D25;
    line-height: 35px;
    text-align: center;
    margin-right: 20px;
}

footer .contact-info a i:hover {
    background: #656565 none repeat scroll 0 0;
}

.content .load-more a:hover {
    background: #656565 none repeat scroll 0 0;
}

footer img {
    width:  100%;
    height:  100%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.menu-mobile {
    display: none;
    width: 60px;
    height: 45px;
    position: absolute;
    right: 15px;
    top: 15px;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-mobile span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #FF6000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-mobile span:nth-child(1) {
    top: 0px;
}

.menu-mobile span:nth-child(2),.menu-mobile span:nth-child(3) {
    top: 18px;
}

.menu-mobile span:nth-child(4) {
    top: 36px;
}

.menu-mobile.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu-mobile.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-mobile.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-mobile.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

@media (min-width : 576px) {

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    header .menu-area .main-menu li{
        padding: 7px;
    }

    header .info-area{
        left: 0;
        right:  0;
    }

    header .menu-area .main-menu a{
        font-size: 13px;
    }

    header .menu-area{
        padding: 10px 0;
        margin-top: 0;
        min-height: 89px;
    }

    header .menu-area .main-menu li.li-active:after{
        top: 60px;
        left: 55px;
    }

    header .abs-top .top-info a{
        font-size: 13px;
    }

    header .abs-top input.ipt-search{
        font-size: 13px;
    }

    footer .info-left {
        width: 50%;
    }
    footer .info-right {
        width: 50%;
    }

    header .menu-area .main-menu li{
        margin-top: 15px;
    }

    header .menu-area .logo-top{
        top: -20px;
    }

    header .menu-area .main-menu li.li-active:after{
        left: 65px;
        top: 55px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 970px !important;
    }

    .menu-mobile {
        display: block;
    }    

    header .menu-area{
        padding: 0;
        margin-top: 0;
    }
    header .menu-area .logo-top{
        top: -17px;
    }
    
    header .menu-area {
        padding: 5px 0;
    }

    header.top-area .top-info {
        display: none;
    }

    header .info-area {
        /* display: none; */
    }

    header .top-info{
        display: none;
    }

    header .menu-area .main-menu {
        display: none;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 50vh;
    }

    .content .other-area a.prev-right {
        right: 35%;
        bottom: -15%;
    }
    
    .content .other-area a.prev-left {
        left: 35%;
        bottom: -15%;
    }
}

@media (max-width : 767px) {
    #cusCarousel>.carousel-inner>.item>img{
        height: 25vh;
    }

    .content .other-area a.prev-left {
        left: 48%;
        bottom: -21%;
    }
    
    .content .other-area a.prev-right {
        right: 38%;
        bottom: -21%;
    }
}

@media (max-width : 576px) {
    .container {
        max-width: 540px;
    }    

    .content .hot-area .hot-proj{
        width: 50%;
    }

    .content .hot-area{
        background-image: none;
        background-color: #FFEFE5;
    }
    
    header .info-area {
        display: none;
    }

    header .intro-area{
        display: none;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 27vh;
    } 

    a.prev-left, a.prev-right{
        display: none;
    }   

    footer .info-right{
        display: none;
    }

    footer .info-left{
        width: 100%;
    }
}

@media (max-width : 460px) {
}

@media (max-width : 320px) {

}
@media (max-width : 400px) {

}

@media (max-width : 500px) {

}

@media (max-width: 1050px) {

}
@media (min-width: 1050px) {

}
@media (max-width: 1200px) {

}
